<!DOCTYPE html>
<html>
<head>
    <title>Log Weightlifting</title>
</head>
<body>
    <h2>Log Weightlifting</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.date.label }}<br>{{ form.date() }}</p>
        <p>{{ form.exercise.label }}<br>{{ form.exercise() }}</p>
        <p>{{ form.custom_exercise.label }}<br>{{ form.custom_exercise() }}</p>
        <p>{{ form.weight.label }}<br>{{ form.weight() }}</p>
        <p>{{ form.sets.label }}<br>{{ form.sets() }}</p>
        <p>{{ form.difficulty.label }}<br>{{ form.difficulty() }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('main.log_workout') }}">Back to Workout Selection</a>
</body>
</html>
